{
  "extends": "airbnb",
  "plugins": [
    "json"
  ],

  "ecmaFeatures": {
    "arrowFunctions": true,
    "experimentalObjectRestSpread": true
  },

  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },

  "globals": {
    "pit": true,
    "xpit": true
  },

  "rules": {
    "array-bracket-spacing": 0,
    "camelcase": 0,
    "new-cap": 0,
    "no-multi-spaces": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "semi": 0,
    "spaced-comment": 0
  }
}
